tensorflow>=2.1.0
matplotlib>=3.2.1
six>=1.14.0
requests>=2.23.0
tensorflow_serving_api==1.9.0
numpy==1.18.3
scipy==1.4.1
# grpcio==1.28.1
jupyter_core==4.4.0
# Pillow==7.1.1
# GitPython==3.1.1
# grpc==0.3-19
# imageio==2.8.0
nltk==3.5
# skimage==0.0
scikit_learn==0.19.2
jupyter==1.0.0
